body{
    background-color : white;
    font-family: "Times New Roman", Times, serif;
}

a {
  color: yellow;
}

h1 {
  color: gray;
  font-size: 100px;
  text-align: center;
}

h2 {
  color: gray;
  font-size: 60px;
  text-align: center;
  font-variant: small-caps;
}

.medium-font{
  font-size: 40px !important;
}

.menu-font{
  font-size: 20px !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
}

.navbar-brand {
  color: #99badd !important;
  font-size: 25px !important;
}

.critic-bio {
  font-size: 30px !important;
}

.polaroid {
  margin: auto;
  width: 25%;
  align-content: center !important;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid > img {
  width: 100%;
}

.pic-container {
  text-align: center !important;
  padding: 10px 20px;
}

.row {
  content: "";
  clear: both;
}

.left-margin {
  margin-left: 20%;
}

.right-margin {
  margin-right: 20%;
}