body{
    background-color : white;
    font-family: "Times New Roman", Times, serif;
}

a {
  color: yellow;
}

h1 {
  color: gray;
  font-size: 100px;
  text-align: center;
}

h2 {
  color: gray;
  font-size: 60px;
  text-align: center;
  font-variant: small-caps;
}

.medium-font{
  font-size: 40px !important;
}

.menu-font{
  font-size: 20px !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
}

.navbar-brand {
  color: #99badd !important;
  font-size: 25px !important;
}

.critic-bio {
  font-size: 20px !important;
}

.polaroid {
  margin: auto;
  width: 25%;
  align-content: center !important;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid > img {
  width: 100%;
}

.pic-container {
  text-align: center !important;
  padding: 10px 20px;
}

.row {
  content: "";
  clear: both;
  padding-top: 15px;
}

.left-margin {
  margin-left: 20%;
}

.right-margin {
  margin-right: 20%;
}

.bottom-margin {
  margin-bottom: 10%
}

.reviews-container {
  background-color: #B0ADFF;
  display: flex;
  grid-rows: auto auto auto auto;
  margin-bottom: 10px !important;
  margin-right: 10% !important;
  margin-left: 10% !important;
  border-color: black;
  border: 3px solid black;
}

.reviews-container .reviews-img {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 15%;
  height: 10%;
  border-color: black;
  border: 3px solid black;
 
}

.reviews-container .reviews-section {
  margin: 5px;
  background-color: #b0adff;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-color: black;
  border: 3px solid black;
  font-family: sans-serif;
}

.reviews-container .reviews-section .reviews-name {
  background-color: #CFCFCF;
  padding: 10px;
  flex-grow: 1;
  font-weight: bold;
}

.reviews-container .reviews-section .reviews-content-bad {
  background-color: #DF9898;
  padding: 10px;
  flex-grow: 1;
 
}

.reviews-container .reviews-section .reviews-content-good {
  background-color: #98DF98;
  padding: 10px;
  flex-grow: 1;
 
}