body{
    background-color : #d4ebf2;
}

a {
  color: yellow;
}

h1 {
  color: gray;
  font-size: 100px;
  text-align: center;
  font-family: monospace;
  font-variant: small-caps;
}

h2 {
  color: gray;
  font-size: 60px;
  text-align: center;
  font-family: monospace;
  font-variant: small-caps;
}

.text-info {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10% !important;
  margin-top: 5%;
  color: gray !important;
  text-align: center;
}

.text-info-about {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10% !important;
  margin-top: 5%;
  color: gray !important;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.image-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
}

/*Color of active page title*/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.powder {
    color: #99badd;
}

.navbar-brand {
  color: red !important;
  font-size: 25px !important;
  font-family: monospace;
  font-variant: small-caps;
}

.navbar-light .navbar-nav .nav-link {
    color:  white;
}


/* Image Grid */
.portfolio {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.item {
  width: 100%;
}

.grid-item { width: 100%; }


.reviews-container {
  display: flex;
  grid-rows: auto auto auto auto;
  padding-bottom: 5% !important;
  
}

.reviews-container .reviews-img {
  margin-left: 25%;
  margin-right: 2%;
  width: 10%;
  height: 10%;
  border-color: black;
  border: 3px solid black;
  
}

.reviews-container .reviews-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-color: black;
  border: 3px solid black;
  font-family: sans-serif;
}

.reviews-container .reviews-section .reviews-name {
  background-color: white;
  padding: 10px;
  flex-grow: 1;
  font-weight: bold;
}

.reviews-container .reviews-section .reviews-price {
  background-color: white;
  padding: 10px;
  flex-grow: 1;
  
}